<section id ="aboutMe">
  <div class="bl-box">
    <h2 class="bl-icon bl-icon-about">About Me</h2>
  </div>
  <div class="bl-content">
    <h2>About Me</h2>
    <h4>4 years ago, I moved out to San Francisco where my love for technology blossomed. I graduated from WDI, a Web Development Immersive program offered by General Assembly in June, 2014. In four months I accumulated over 400+ hours of instruction and spent over 600+ hours coding. I developed proficiencies in Javascript, Angular.js, Node.js, Rails, Ruby, Coffeescript, Meteor and more.</h4>
    <p>I have a background in customer service, criminal justice and philosophy which honed my problem-solving and critical thinking skills, which I combine with my passion for programming and technology. I am constantly on the lookout for like-minded individuals to learn from, to collaborate with, and help develop amazing products and ideas.</p>
    <p>When I am not on my laptop coding or programming, you can find me at the beach, playing racquetball or hovering over a chess board in the park. Feel free to contact me through email, twitter or facebook. You can also check out my LinkedIn profile or Github. Cheers!</p>
    <p>
      <a href="https://twitter.com/joshuapears0n" target="_blank"><i class='fa fa-twitter fa-4x'></i></a>
      <a href="https://www.linkedin.com/in/joshuapears0n" target="_blank"><i class='fa fa-linkedin fa-4x'></i></a>
      <a href="https://www.facebook.com/j0shuap" target="_blank"><i class='fa fa-facebook fa-4x'></i></a>
      <a href="https://github.com/Joshua-Pearson" target="_blank"><i class='fa fa-github fa-4x'></i></a>
      <a href="resume.pdf" target="_blank"><i class='fa fa-file-pdf-o fa-4x'></i></a>
    </p>
  </div>
  <span class="bl-icon bl-icon-close" id="goBack1">Go Back</span>
</section>