<section id="bl-work-section">
  <div class="bl-box">
    <h2 class="bl-icon bl-icon-works">My Projects</h2>
  </div>
  <div class="bl-content">
    <h2>My Projects</h2>
    <p>Here are a few of the projects I've recently completed</p>
    <ul id="bl-work-items">
      <li data-panel="panel-1"><a href=""><img src="../../images/covered-sf-3.png" /></a></li>
      <li data-panel="panel-2"><a href=""><img src="../../images/flightshare.png" /></a></li>
      <li data-panel="panel-3"><a href=""><img src="../../images/pethub.png" /></a></li>
      <li data-panel="panel-4"><a href=""><img src="../../images/ritly.png" /></a></li>
    </ul>
    <p>All Projects by <a href="https://github.com/Joshua-Pearson">Joshua Pearson</a></p>
  </div>
  <span class="bl-icon bl-icon-close" id="goBack2">Go Back</span>
</section>


<h2 class="bl-icon bl-icon-works">My Projects</h2>
  <div class="bl-content">
    <h2>My Projects</h2>
    <p>Here are a few of the projects I've recently completed</p>
    <ul id="bl-work-items">
      <li data-panel="panel-1"><a href=""><img src="../../images/covered-sf-3.png" /></a></li>
      <li data-panel="panel-2"><a href=""><img src="../../images/flightshare.png" /></a></li>
      <li data-panel="panel-3"><a href=""><img src="../../images/pethub.png" /></a></li>
    </ul>
    <p>All Projects by <a href="https://github.com/Joshua-Pearson">Joshua Pearson</a></p>
  </div>
  <span class="bl-icon bl-icon-close" id="goBack2">Go Back</span>