body {
      text-align: center;
    	background: url("http://i.imgur.com/d9Nc1fT.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
h1 {
    	font-family: 'Diplomata', cursive;
    	font-weight: 900;
      font-size: 50px;
      color: #A1A1A1;
      text-align: center;
    }
#about {
      font-family: 'Montez', cursive;
      font-size: 35px;
      max-width: 500px;
      margin: 0 auto;
      padding: 30px 0 30px 0;
      text-align:center;
      display: none;
      color: white;
    }
#contact { font-family: 'Montez', cursive;
      font-size: 35px;
      max-width: 500px;
      margin: 0 auto;
      text-align:center;
      padding: 30px 0 30px 0;
      display: none;
      color: white;
    }

.backdrop {
        padding: 50px;
}

#my_carousel {
    margin-left: 20%;
    margin-right: 20%;
}

ul.slick-dots {
    margin: 0 0 0 0;
}

#my_carousel div.car_page {
    vertical-align: top;
}

#my_carousel div.car_page div.header {
    font-weight: bold;
    border-bottom: 2px solid #EEEEEE;
}


#my_carousel div.car_page div {
    padding: 10px 5px 5px 10px;
}

#my_carousel div.car_page img {
    display: inline;
}


